repos:
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint
        name: markdownlint
        description: "Checks the style of Markdown/Commonmark files."
        language: node
        entry: markdownlint
        minimum_pre_commit_version: 3.2.0
        types: [ markdown ]
        files: '^(src/.*\.md|README\.md)'

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        description: "Trims trailing whitespace."
        language: python
        entry: trailing-whitespace-fixer
        minimum_pre_commit_version: 3.2.0
        types: [ text ]
        exclude: '(^|/)_archive(/|$)'

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.22.0
    hooks:
      - id: lychee
        name: lychee-system
        description: "Run 'lychee' using system installation (requires: cargo install lychee)"
        entry: lychee
        minimum_pre_commit_version: 3.2.0
        language: system
        args: [ "--no-progress" ]
        types: [ text ]
        require_serial: true
        files: '^(src/.*\.md|README\.md)'